@import '../../../styles/_main';

section {
  background-color: var(--secondary-bg-col);
  color: var(--primary-text-col)
}

app-project {
  display: block;
}

app-project:not(:last-child) {
  margin-bottom: $margin-xxl;
}
