@import '../../../styles/_main';

section {
  background-color: var(--col-secondary-bg);
  color: var(--col-primary-text)
}

app-project {
  display: block;
}

app-project:not(:last-child) {
  margin-bottom: $margin-xxl;
}
