@use '../../../../../styles/_functions';


.form-control-container {
  display: inline-flex;
  align-items: center;
  font-size: functions.scale-between(12, 13);
  column-gap: 10px;

  a {
    font-size: inherit;
    color: var(--col-highlight);
  }
}

input[type="checkbox"] {
  display: grid;
  place-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid var(--col-highlight);
  border-radius: 5px;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 11px;
  height: 11px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 16px 16px var(--col-highlight);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
