@import '../../../styles/_main';

footer {
  background-color: inherit;
  color: var(--col-tertiary);
}

.inner-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo-v2"
    "copyright"
    "icon"
    "imprint";
  justify-items: center;
  row-gap: rem(20);

  p {
    margin: 0;
  }

  a {
    font-size: rem(14);
  }
}

app-logo-v2 {
  grid-area: logo-v2;
  width: 120px;
}

.copyright {
  grid-area: copyright;
}

.icon-container {
  grid-area: icon;
  display: flex;
  column-gap: rem(10);

  a > * {
    width: 40px;
  }

  a, {
    display: flex;
    align-items: center;
  }
}

.imprint {
  grid-area: imprint;
  justify-self: center;
}

@include l-screen {
  .inner-footer {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "logo-v2 copyright icon"
      ". imprint .";
    align-items: center;
  }
}
