@use '../../../styles/_functions';
@use '../../../styles/_screen-sizes';
@use '../../../styles/_mixins';

:host {
  background-color: inherit;
}

footer {
  background-color: inherit;
  color: inherit;
}

.inner-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo-v1"
    "copyright"
    "icon"
    "imprint";
  justify-items: center;
  row-gap: functions.rem(20);

  p {
    margin: 0;
  }

  a {
    font-size: functions.rem(14);
  }
}

app-logo-v1 {
  grid-area: logo-v1;
  cursor: pointer;
}

.copyright {
  grid-area: copyright;
}

.icon-container {
  grid-area: icon;
  display: flex;
  column-gap: functions.rem(10);

  a > * {
    width: 40px;
  }

  a {
    display: flex;
    align-items: center;
    @include mixins.hover-color();
  }
}

.imprint {
  grid-area: imprint;
  justify-self: center;
  @include mixins.hover-color();
  @include mixins.hover-underline();
}

@include screen-sizes.l-screen {
  .inner-footer {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "logo-v1 copyright icon"
      ". imprint .";
    align-items: center;
  }
}
