<footer>
  <div class="inner-footer max-width">
    <app-logo-v1 (click)="scrollToHome()" [routerLink]="'.'" [fragment]="'home'"></app-logo-v1>
    <p class="copyright">&copy; Veysel Karaali {{ currentYear }}</p>

    <div class="icon-container">
      <a href="https://github.com/coder-91" target="_blank"><app-github-icon></app-github-icon></a>
      <a href="mailto:veysel-karaali@outlook.de" target="_blank"><app-email-icon></app-email-icon></a>
      <a href="https://www.linkedin.com/in/veysel-karaali-4206a124b/" target="_blank"><app-linkedin-icon></app-linkedin-icon></a>
    </div>

    <a class="imprint" (click)="navigateToImprint()">{{ 'footer.imprint' | translate }} </a>
  </div>
</footer>
