@import '../../../../../styles/_main';

$border: 1px solid rgba(0, 0, 0, 0.07);

.language-container {
  display: flex;
  align-items: center;
  border: $border;
  border-radius: 5px;
  font-size: rem(16);
  color: var(--secondary-text-col);

  .language {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3px;
    gap: 0 3px;
    border: 2px solid transparent;

    &.active {
      background-color: #374151;
      color: #fff;
      font-weight: bold;
    }
  }

  .language:not(:last-child) {
    border-right: $border;
  }

  img {
    width: 15px;
    height: auto;
  }
}
