@use '../../../../../styles/_functions';

:host {
  display: grid;
  place-items: center;
  aspect-ratio: 2.29 / 1;
}

svg {
  width: functions.scale-between(60, 100);
  color: var(--col-highlight);
}
