@import '../../../../styles/_main';

:host, section {
  height: 100%;
  background-color: var(--primary-bg-col);
  color: var(--secondary-text-col);
}

section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: rem(60);
  align-content: center;
}

h1 {
  text-align: unset;
}

.left-container {
  @include flex-wrap-with-gap(column, center, flex-start, 0, wrap);
  align-content: center;
  color: var(--primary-text-col);
}

img {
  width: 100%;
  max-width: rem(300);
  min-width: rem(200);
  height: auto;
}

