@import '../../../../styles/_main';

:host, section {
  height: 100%;
  background-color: var(--col-primary-bg);
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-content: center;
}

h1 {
  margin-bottom: $margin-medium;
}

.headline-container {
  display: grid;
  place-content: flex-start center;
  color: var(--col-primary-text);
}

img {
  width: 100%;
  max-width: rem(300);
  height: auto;
  position: absolute;
  bottom: 0;
  justify-self: center;
}

