@import '../../../../styles/_main';

section {
  background-color: inherit;
  color: var(--col-tertiary)
}

app-project {
  display: block;
}

app-project:not(:last-child) {
  margin-bottom: rem(50);
}

@include m-screen {
  app-project:not(:last-child) {
    margin-bottom: rem(75);
  }
}
