@use '../../../../styles/_functions';
@use '../../../../styles/_screen-sizes';

section {
  background-color: inherit;
  color: inherit;
}

app-project {
  display: block;
}

app-project:not(:last-child) {
  margin-bottom: functions.rem(50);
}

@include screen-sizes.m-screen {
  app-project:not(:last-child) {
    margin-bottom: functions.rem(75);
  }
}
