<section id="projects">
  <div class="inner-project max-width">
    <h1 class="center">{{ 'projects.title' | translate }} </h1>

    @for (project of projects; track project) {
      <app-project
        [isImageFirst]="isImageFirst($index)"
        [hrefProjectImage]="project.hrefProjectImage"
        [title]="project.title"
        [technologies]="project.technologies"
        [description]="project.description | translate"
        [hrefLiveTest]="project.hrefLiveTest"
        [hrefFrontend]="project.hrefFrontend"
        [hrefBackend]="project.hrefBackend">
      </app-project>
    }
  </div>
</section>
