@use '../../../../styles/_functions';
@use '../../../../styles/_variables';

:host {
  background-color: inherit;
  color: inherit;
}

section {
  margin-top: functions.rem(variables.$nav-height);
  background-color: inherit;
  color: inherit;
}
