@use '../../../../styles/_functions';
@use '../../../../styles/_variables';

:host {
  background-color: inherit;
  color: inherit;
}

section {
  padding-top: functions.scale-between(
      variables.$nav-height-min + variables.$padding-vertical-min,
      variables.$nav-height-max + variables.$padding-vertical-max
  );
  background-color: inherit;
  color: inherit;
}
