@import '../../../../styles/_main';

:host ::ng-deep svg.v1,
:host ::ng-deep svg.v2 {
  color: var(--col-highlight);
}

:host ::ng-deep svg.v1 {
  width: 75px;
}

:host ::ng-deep svg.v2 {
  width: 120px;
  height: 120px;
}
