@import './breakpoints';
@import './functions';
@import './mixins';
@import './reset';
@import './theme';

$nav-height: rem(65);
$padding-xs: rem(15);
$padding-s: rem(20);
$padding-m: rem(30);
$padding-l: rem(40);


html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: var(--font-size-base);
  font-family: var(--font-family);
}

.pointer, button, a {
  cursor: pointer;
}

.highlight {
  color: var(--col-highlight)
}

.center{
  text-align: center;
}

.bold {
  font-weight: bold;
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

.validation-error {
  display: flex;
  align-items: center;
  height: rem(16);
  color: var(--col-warn);
  font-size: rem(14);
  margin-top: 5px;
}

@include xs-screen {
  section,
  footer {
    padding: $padding-l $padding-xs;
  }

  #navbar {
    padding: 0 $padding-xs;
  }
}

@include s-screen {
  section,
  footer {
    padding: $padding-l $padding-xs;
  }

  #navbar {
    padding: 0 $padding-xs;
  }
}

@include m-screen {
  section,
  footer {
    padding: $padding-l $padding-m;
  }

  #navbar {
    padding: 0 $padding-m;
  }
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--col-highlight);
  border-radius: 5px;
  height: rem(40);
  padding: 5px 7px;
  cursor: pointer;
  color: var(--col-highlight);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3),
  -2px -2px 4px rgba(255, 255, 255, 0.1);
  transition: width 0.4s ease;
  overflow: hidden;
  z-index: 0;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--col-highlight);
  z-index: -1;
  transition: all 0.8s ease;
}

.btn:hover::before {
  width: 100%;
  background-color: var(--col-highlight);
}

.btn:hover {
  color: var(--col-primary-text);
}




$font-size-h1-xs: rem(20);
$font-size-h1-s: rem(22);
$font-size-h1-m: rem(24);
$font-size-h1-l: rem(26);
$font-size-h1-xl: rem(28);
$font-size-h1-xxl: rem(30);

$font-size-h2-xs: rem(18);
$font-size-h2-s: rem(20);
$font-size-h2-m: rem(22);
$font-size-h2-l: rem(24);
$font-size-h2-xl: rem(26);
$font-size-h2-xxl: rem(28);

$font-size-h3-xs: rem(16);
$font-size-h3-s: rem(18);
$font-size-h3-m: rem(20);
$font-size-h3-l: rem(22);
$font-size-h3-xl: rem(24);
$font-size-h3-xxl: rem(26);

$font-size-xs: rem(14);
$font-size-s: rem(16);
$font-size-m: rem(18);
$font-size-l: rem(20);
$font-size-xl: rem(22);
$font-size-xxl: rem(24);

$line-height-xs: 1.3;
$line-height-s: 1.3;
$line-height-m: 1.3;
$line-height-l: 1.35;
$line-height-xl: 1.35;
$line-height-xxl: 1.35;

$margin-h1-xs: rem(14);
$margin-h1-s: rem(16);
$margin-h1-m: rem(18);
$margin-h1-l: rem(20);
$margin-h1-xl: rem(22);
$margin-h1-xxl: rem(24);

$margin-h2-xs: rem(12);
$margin-h2-s: rem(14);
$margin-h2-m: rem(16);
$margin-h2-l: rem(18);
$margin-h2-xl: rem(20);
$margin-h2-xxl: rem(22);

$margin-h3-xs: rem(10);
$margin-h3-s: rem(12);
$margin-h3-m: rem(14);
$margin-h3-l: rem(16);
$margin-h3-xl: rem(18);
$margin-h3-xxl: rem(20);

$margin-p-xs: rem(10);
$margin-p-s: rem(12);
$margin-p-m: rem(14);
$margin-p-l: rem(16);
$margin-p-xl: rem(18);
$margin-p-xxl: rem(20);

$gap-xs: rem(15);
$gap-s: rem(30);
$gap-m: rem(45);
$gap-l: rem(60);
$gap-xl: rem(75);
$gap-xxl: rem(90);

:root {
  --font-size-base: 1rem;
  --font-family: 'Karla', sans-serif;
}

@include xs-screen {
  h1 {
    font-size: $font-size-h1-xs;
    margin-bottom: $margin-h1-xs;
  }

  h2 {
    font-size: $font-size-h2-xs;
    margin-bottom: $margin-h2-xs;
  }

  h3 {
    font-size: $font-size-h3-xs;
    margin-bottom: $margin-h3-xs;
  }

  p, div, span, a, button {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }

  p {
    margin-bottom: $margin-p-xs;
  }
}

@include s-screen {
  h1 {
    font-size: $font-size-h1-s;
    margin-bottom: $margin-h1-s;
  }

  h2 {
    font-size: $font-size-h2-s;
    margin-bottom: $margin-h2-s;
  }

  h3 {
    font-size: $font-size-h3-s;
    margin-bottom: $margin-h3-s;
  }

  p, div, span, a, button {
    font-size: $font-size-s;
    line-height: $line-height-s;
  }

  p {
    margin-bottom: $margin-p-s;
  }
}

@include m-screen {
  h1 {
    font-size: $font-size-h1-m;
    margin-bottom: $margin-h1-m;
  }

  h2 {
    font-size: $font-size-h2-m;
    margin-bottom: $margin-h2-m;
  }

  h3 {
    font-size: $font-size-h3-m;
    margin-bottom: $margin-h3-m;
  }

  p, div, span, a, button {
    font-size: $font-size-m;
    line-height: $line-height-m;
  }

  p {
    margin-bottom: $margin-p-m;
  }
}

@include l-screen {
  h1 {
    font-size: $font-size-h1-l;
    margin-bottom: $margin-h1-l;
  }

  h2 {
    font-size: $font-size-h2-l;
    margin-bottom: $margin-h2-l;
  }

  h3 {
    font-size: $font-size-h3-l;
    margin-bottom: $margin-h3-l;
  }

  p, div, span, a, button {
    font-size: $font-size-l;
    line-height: $line-height-l;
  }

  p {
    margin-bottom: $margin-p-l;
  }
}

@include xl-screen {
  h1 {
    font-size: $font-size-h1-xl;
    margin-bottom: $margin-h1-xl;
  }

  h2 {
    font-size: $font-size-h2-xl;
    margin-bottom: $margin-h2-xl;
  }

  h3 {
    font-size: $font-size-h3-xl;
    margin-bottom: $margin-h3-xl;
  }

  p, div, span, a, button {
    font-size: $font-size-xl;
    line-height: $line-height-xl;
  }

  p {
    margin-bottom: $margin-p-xl;
  }
}

@include xxl-screen {
  h1 {
    font-size: $font-size-h1-xxl;
    margin-bottom: $margin-h1-xxl;
  }

  h2 {
    font-size: $font-size-h2-xxl;
    margin-bottom: $margin-h2-xxl;
  }

  h3 {
    font-size: $font-size-h3-xxl;
    margin-bottom: $margin-h3-xxl;
  }

  p, div, span, a, button {
    font-size: $font-size-xxl;
    line-height: $line-height-xxl;
  }

  p {
    margin-bottom: $margin-p-xxl;
  }
}
