@import './breakpoints';
@import './functions';
@import './mixins';
@import './reset';
@import './shared-styles';
@import './theme';
@import './typography';

$nav-height: rem(65);
$side-padding: 0 rem(20);
$padding-section-lr-s: rem(15);
$padding-section-tb: rem(40);
$padding-section-lr: rem(30);

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: var(--font-size-base);
  font-family: var(--font-family);
}

img,
picture {
  display: block;
  line-height: 0;
}

button, a {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.highlight {
  color: var(--col-highlight)
}

.highlight-bg {
  background-color: var(--col-highlight)
}

.center{
  text-align: center;
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}


@include xs-screen {
  section,
  footer {
    padding: $padding-section-tb $padding-section-lr-s;
  }

  #navbar {
    padding: 0 $padding-section-lr-s;
  }
}

@include s-screen {
  section,
  footer {
    padding: $padding-section-tb $padding-section-lr-s;
  }

  #navbar {
    padding: 0 $padding-section-lr-s;
  }
}

@include m-screen {
  section,
  footer {
    padding: $padding-section-tb $padding-section-lr;
  }

  #navbar {
    padding: 0 $padding-section-lr;
  }
}
