@use './reset';
@use './variables';
@use './functions';
@use './mixins';
@use './screen-sizes';
@use './typography';
@use './common';


html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: variables.$font-size-base;
  font-family: variables.$font-family;
}

.pointer, button, a {
  cursor: pointer;
}

.highlight {
  color: var(--col-highlight)
}

.center{
  text-align: center;
}

.bold {
  font-weight: bold;
}

.max-width {
  max-width: calc(#{variables.$max-width} * #{functions.rem(1)});
  margin: 0 auto;
}
