$small-screen-max: 480px;
$medium-screen-max: 768px;
$large-screen-max: 1024px;


@mixin small-screen {
  @media (max-width: $small-screen-max) {
    @content;
  }
}

@mixin medium-screen {
  @media (min-width: $small-screen-max + 1px) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: $medium-screen-max + 1px) {
    @content;
  }
}

@mixin extra-large-screen {
  @media (min-width: $large-screen-max + 1px) {
    @content;
  }
}
