$xs-screen-max: 320px;
$small-screen-max: 480px;
$medium-screen-max: 768px;
$large-screen-max: 1024px;

@mixin xs-screen {
  @media (max-width: $xs-screen-max) {
    @content;
  }
}


@mixin small-screen {
  @media (min-width: $xs-screen-max + 1px) {
    @content;
  }
}

@mixin medium-screen {
  @media (min-width: $small-screen-max + 1px) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: $medium-screen-max + 1px) {
    @content;
  }
}

@mixin xl-screen {
  @media (min-width: $large-screen-max + 1px) {
    @content;
  }
}
