$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

@mixin small-screen {
  @media (max-width: $small-screen) {
    @content;
  }
}

@mixin medium-screen {
  @media (max-width: $medium-screen) {
    @content;
  }
}

@mixin large-screen {
  @media (max-width: $large-screen) {
    @content;
  }
}

@mixin extra-large-screen {
  @media (max-width: $extra-large-screen) {
    @content;
  }
}
