@import './typography';

@mixin flex-basic($flex-direction: row, $justify-content: flex-start, $align-items: stretch) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-with-gap($flex-direction: row, $justify-content: flex-start, $align-items: stretch, $gap: 0 0) {
  @include flex-basic($flex-direction, $justify-content, $align-items);
  gap: $gap;
}

@mixin flex-wrap-with-gap($flex-direction: row, $justify-content: flex-start, $align-items: stretch, $gap: 0, $flex-wrap: nowrap) {
  @include flex-with-gap($flex-direction, $justify-content, $align-items, $gap);
  flex-wrap: $flex-wrap;
}

@mixin color-scheme($background-color: #ffffff, $text-color: #000000) {
  background-color: $background-color;
  color: $text-color;
}

@mixin headline($color) {
  font-family: var(--font-headline);
  color: $color;
}
