@import './functions';

.btn-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  border: 2px solid var(--col-highlight);
  color: var(--col-highlight);
  border-radius: 5px;
  padding: 5px 7px;
  cursor: pointer;
}

.error-list {
  display: flex;
  align-items: center;
  height: rem(16);
  color: var(--col-warn);
  font-size: rem(14);
  margin-top: 5px;
}
