:root {
  --col-primary: #31333b;
  --col-secondary: #3d3e42;
  --col-tertiary: #f9f9f9;
  --col-highlight: #ffc86b;
  --col-accent: #3d3e42;
  --col-warn: #ff4d4d;
  --col-success: #4caf50;
  --col-shadow: #0000004d;
  --col-disabled: #888888;
  --col-settings: #4B4B4B;
  --col-icon-active: #374151;
  --col-icon-inactive: #afafaf;
  --col-icon-selected: #fff;
}

.light {
  --col-primary: #ffffff;
  --col-secondary: #f1f1f1;
  --col-tertiary: #31333b;
  --col-highlight: #ff9900;
  --col-accent: #e0e0e0;
  --col-warn: #ff4d4d;
  --col-success: #4caf50;
  --col-shadow: #00000033;
  --col-disabled: #cccccc;
  --col-settings: #cacaca;
  --col-icon-active: #374151;
  --col-icon-inactive: #afafaf;
  --col-icon-selected: #fff;
}
