:root {
  --col-primary-bg: #34353a;
  --col-secondary-bg: #31333b;

  --col-primary-text: #f9f9f9;
  --col-secondary-text: #868788;

  --col-highlight: #ffc86b;
  --col-accent: #3D3E42;

  --col-warn: #e61c40;
  --col-success: #70e61c;
  --col-disabled: #888888;
}

.light {
  --col-primary-bg: #ffffff;
  --col-secondary-bg: #f0f0f0;

  --col-primary-text: #333333;
  --col-secondary-text: #666666;

  --col-highlight: #ff8c00;
  --col-accent: rgba(0, 0, 0, 0.07);

  --col-warn: #e61c40;
  --col-success: #70e61c;
  --col-disabled: #888888;
}
