@import './functions';
@import './breakpoints';

$font-size-h1-small: rem(24);
$font-size-h1-medium: rem(30);
$font-size-h1-large: rem(36);
$font-size-h1-xl: rem(42);

$font-size-h2-small: rem(20);
$font-size-h2-medium: rem(26);
$font-size-h2-large: rem(32);
$font-size-h2-xl: rem(38);

$font-size-h3-small: rem(18);
$font-size-h3-medium: rem(22);
$font-size-h3-large: rem(26);
$font-size-h3-xl: rem(30);

$font-size-p-small: rem(14);
$font-size-p-medium: rem(16);
$font-size-p-large: rem(18);
$font-size-p-xl: rem(20);

$line-height-p-small: rem(20);
$line-height-p-medium: rem(24);
$line-height-p-large: rem(28);
$line-height-p-xl: rem(32);

$font-size-a-button-small: rem(14);
$font-size-a-button-medium: rem(16);
$font-size-a-button-large: rem(18);
$font-size-a-button-xl: rem(20);

$margin-small: rem(8);
$margin-medium: rem(16);
$margin-large: rem(24);
$margin-xl: rem(32);
$margin-xxl: rem(50);
$margin-3xl: rem(75);
$margin-4xl: rem(100);

$margin-h1-small: rem(48);
$margin-h1-medium: rem(56);
$margin-h1-large: rem(64);
$margin-h1-xl: rem(72);

$margin-h2-small: rem(16);
$margin-h2-medium: rem(32);
$margin-h2-large: rem(40);
$margin-h2-xl: rem(48);

$margin-p-small: rem(15);
$margin-p-medium: rem(20);
$margin-p-large: rem(25);
$margin-p-xl: rem(30);

:root {
  --font-size-base: 1rem;
  --font-headline: 'Lato', sans-serif;
  --font-primary: 'Lato', sans-serif;
  --current-font-size-p: #{$font-size-p-small};
}

h1 {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline);
}

@include small-screen {
  :root {
    --current-font-size-p: #{$font-size-p-small};
  }

  h3, h4, h5, h6 {
    margin-bottom: $margin-small;
  }

  h1 {
    font-size: $font-size-h1-small;
    margin-bottom: $margin-h1-small;
  }

  h2 {
    font-size: $font-size-h2-small;
    margin-bottom: $margin-h2-small;
  }

  h3 {
    font-size: $font-size-h3-small;
  }

  p {
    font-size: $font-size-p-small;
    line-height: $line-height-p-small;
    margin-bottom: $margin-p-small;
  }

  a, button {
    font-size: $font-size-a-button-small;
  }
}

@include medium-screen {
  :root {
    --current-font-size-p: #{$font-size-p-medium};
  }

  h3, h4, h5, h6 {
    margin-bottom: $margin-medium;
  }

  h1 {
    font-size: $font-size-h1-medium;
    margin-bottom: $margin-h1-medium;
  }

  h2 {
    font-size: $font-size-h2-medium;
    margin-bottom: $margin-h2-medium;
  }

  h3 {
    font-size: $font-size-h3-medium;
  }

  p {
    font-size: $font-size-p-medium;
    line-height: $line-height-p-medium;
    margin-bottom: $margin-p-medium;
  }

  a, button {
    font-size: $font-size-a-button-medium;
  }
}

@include large-screen {
  :root {
    --current-font-size-p: #{$font-size-p-large};
  }

  h3, h4, h5, h6 {
    margin-bottom: $margin-large;
  }

  h1 {
    font-size: $font-size-h1-large;
    margin-bottom: $margin-h1-large;
  }

  h2 {
    font-size: $font-size-h2-large;
    margin-bottom: $margin-h2-large;
  }

  h3 {
    font-size: $font-size-h3-large;
  }

  p {
    font-size: $font-size-p-large;
    line-height: $line-height-p-large;
    margin-bottom: $margin-p-large;
  }

  a, button {
    font-size: $font-size-a-button-large;
  }
}

@include xl-screen {
  :root {
    --current-font-size-p: #{$font-size-p-xl};
  }

  h3, h4, h5, h6 {
    margin-bottom: $margin-xl;
  }

  h1 {
    font-size: $font-size-h1-xl;
    margin-bottom: $margin-h1-xl;
  }

  h2 {
    font-size: $font-size-h2-xl;
    margin-bottom: $margin-h2-xl;
  }

  h3 {
    font-size: $font-size-h3-xl;
  }

  p {
    font-size: $font-size-p-xl;
    line-height: $line-height-p-xl;
    margin-bottom: $margin-p-xl;
  }

  a, button {
    font-size: $font-size-a-button-xl;
  }
}
