@use './functions';
@use './variables';


p, div, span, a, button {
  font-size: functions.scale-between(variables.$font-size-min, variables.$font-size-max);
  line-height: variables.$line-height;
  letter-spacing: functions.scale-between(variables.$letter-spacing-min, variables.$letter-spacing-max);
}

p {
  margin-bottom: functions.scale-between(variables.$margin-min, variables.$margin-max);
}

h1 {
  font-size: functions.scale-between(variables.$h1-font-size-min, variables.$h1-font-size-max);
  line-height: variables.$h1-line-height;
  letter-spacing: functions.scale-between(variables.$h1-letter-spacing-min, variables.$h1-letter-spacing-max);
  margin-bottom: functions.scale-between(variables.$h1-margin-min, variables.$h1-margin-max);
}

h2 {
  font-size: functions.scale-between(variables.$h2-font-size-min, variables.$h2-font-size-max);
  line-height: variables.$h2-line-height;
  letter-spacing: functions.scale-between(variables.$h2-letter-spacing-min, variables.$h2-letter-spacing-max);
  margin-bottom: functions.scale-between(variables.$h2-margin-min, variables.$h2-margin-max);
}

h3 {
  font-size: functions.scale-between(variables.$h3-font-size-min, variables.$h3-font-size-max);
  line-height: variables.$h3-line-height;
  letter-spacing: functions.scale-between(variables.$h3-letter-spacing-min, variables.$h3-letter-spacing-max);
  margin-bottom: functions.scale-between(variables.$h3-margin-min, variables.$h3-margin-max);
}

h4 {
  font-size: functions.scale-between(variables.$h4-font-size-min, variables.$h4-font-size-max);
  line-height: variables.$h4-line-height;
  letter-spacing: functions.scale-between(variables.$h4-letter-spacing-min, variables.$h4-letter-spacing-max);
  margin-bottom: functions.scale-between(variables.$h4-margin-min, variables.$h4-margin-max);
}

h5 {
  font-size: functions.scale-between(variables.$h5-font-size-min, variables.$h5-font-size-max);
  line-height: variables.$h5-line-height;
  letter-spacing: functions.scale-between(variables.$h5-letter-spacing-min, variables.$h5-letter-spacing-max);
  margin-bottom: functions.scale-between(variables.$h5-margin-min, variables.$h5-margin-max);
}

h6 {
  font-size: functions.scale-between(variables.$h6-font-size-min, variables.$h6-font-size-max);
  line-height: variables.$h6-line-height;
  letter-spacing: functions.scale-between(variables.$h6-letter-spacing-min, variables.$h6-letter-spacing-max);
  margin-bottom: functions.scale-between(variables.$h6-margin-min, variables.$h6-margin-max);
}

section,
footer {
  padding:
    functions.scale-between(variables.$padding-vertical-min, variables.$padding-vertical-max)
    functions.scale-between(variables.$padding-horizontal-min, variables.$padding-horizontal-max);
}

nav {
  padding:
    0
    functions.scale-between(variables.$padding-horizontal-min, variables.$padding-horizontal-max);
}
