<section id="about-me">
  <div class="about-me-inner max-width">
    <h1 class="center">{{ 'about-me.title' | translate }}</h1>
    <div class="content-container">
      <div class="img-container"><img [src]="currentTheme === Theme.DARK ? './assets/me/me_dark.png' : './assets/me/me_light.png'" alt=""></div>
      <div class="text-container">
        <p>{{ 'about-me.content1.sub1' | translate }}<span class="highlight">{{ 'about-me.content1.sub2' | translate }}</span>{{ 'about-me.content1.sub3' | translate }}<span class="highlight">{{ 'about-me.content1.sub4' | translate }}</span> {{ 'about-me.content1.sub5' | translate }}</p>
        <p>{{ 'about-me.content2' | translate }}</p>
      </div>
      <a class="btn">{{ 'about-me.btn' | translate }}</a>
    </div>
  </div>
</section>
