<section id="about-me">
  <h1>About</h1>

  <div class="content-container">
    <div class="img-container">
      <img [src]="currentTheme === Theme.DARK_THEME ? './assets/me/me_dark.png' : './assets/me/me_light.png'" alt="">
    </div>

    <div class="text-container">
      <p>
        I'm a Fullstack Developer based in Aalen, Germany.
        I enjoy helping designers and companies bring their ideas into real life.
        I'm looking forward to continuing my developer career with a job in a web developer position.
        My ability to <span class="highlight">solve complex problems</span> and my <span class="highlight">passion</span> for programming make me a
        valuable member for your team.
      </p>
      <p>If you think I’d be a good match for your projects, contact me!</p>
    </div>

    <a class="btn">Contact Me</a>
  </div>
</section>
