<section id="about-me">
  <div class="max-width">
    <h1>{{ 'about-me.title' | translate }}</h1>
    <p>{{ 'about-me.content1.sub1' | translate }}<span class="highlight">{{ 'about-me.content1.sub2' | translate }}</span>{{ 'about-me.content1.sub3' | translate }}<span class="highlight">{{ 'about-me.content1.sub4' | translate }}</span> {{ 'about-me.content1.sub5' | translate }}</p>
    <p>{{ 'about-me.content2' | translate }}</p>
    <a class="btn">{{ 'about-me.btn' | translate }}</a>
  </div>
</section>
