<section id="skills">
  <div class="skills-inner max-width">
    <h1 class="center">{{ 'skills.title' | translate }}</h1>

    <div class="skill-list">
      <!-- Programming Languages -->
      <app-skill skillId="java" skillName="Java"></app-skill>
      <app-skill skillId="python" skillName="Python"></app-skill>

      <!-- Frontend Development -->
      <app-skill skillId="angular" skillName="Angular"></app-skill>
      <!-- <app-skill skillId="vue" skillName="Vue.js"></app-skill> -->
      <app-skill skillId="type_script" skillName="TypeScript"></app-skill>
      <app-skill skillId="java_script" skillName="JavaScript"></app-skill>
      <app-skill skillId="rxjs" skillName="RxJS"></app-skill>
      <app-skill skillId="css" skillName="CSS"></app-skill>
      <app-skill skillId="sass" skillName="Sass"></app-skill>
      <app-skill skillId="bootstrap" skillName="Bootstrap"></app-skill>
      <app-skill skillId="html" skillName="HTML"></app-skill>
      <app-skill skillId="material_design" skillName="MD"></app-skill>
      <!-- <app-skill skillId="prime_ng" skillName="PrimeNG"></app-skill> -->

      <!-- Backend Development -->
      <app-skill skillId="django" skillName="Django"></app-skill>
      <app-skill skillId="spring_boot" skillName="Spring Boot"></app-skill>
      <!-- <app-skill skillId="flask" skillName="Flask"></app-skill> -->
      <app-skill skillId="api" skillName="API"></app-skill>

      <!-- Databases -->
      <app-skill skillId="sql" skillName="SQL"></app-skill>
      <app-skill skillId="postgre_sql" skillName="Postgres"></app-skill>
      <!-- <app-skill skillId="redis" skillName="Redis"></app-skill>-->

      <!-- DevOps & Cloud -->
      <!-- <app-skill skillId="docker" skillName="Docker"></app-skill> -->
      <!-- <app-skill skillId="heroku" skillName="Heroku"></app-skill> -->
      <app-skill skillId="cloud" skillName="Cloud"></app-skill>
      <!-- <app-skill skillId="ms_azure" skillName="MS Azure"></app-skill> -->
      <!-- <app-skill skillId="linux" skillName="Linux"></app-skill> -->

      <!-- Project Management -->
      <app-skill skillId="scrum" skillName="Scrum"></app-skill>

      <!-- Miscellaneous -->
      <app-skill skillId="git" skillName="Git"></app-skill>
      <!-- <app-skill skillId="firebase" skillName="Firebase"></app-skill> -->
      <!-- <app-skill skillId="wordpress" skillName="WordPress"></app-skill> -->
      <app-skill skillId="ms_office" skillName="MS Office"></app-skill>
      <!-- <app-skill skillId="grow" skillName="Growth Mindset"></app-skill> -->
    </div>
  </div>
</section>
