@import '../../../../styles/_main';

$font-size: rem(16);

.language-container {
  display: flex;
  align-items: center;
  font-size: $font-size;
  color: var(--col-secondary-text);

  .language {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s ;

    & > span {
      margin: 0 3px;
    }

    &.active {
      color: var(--col-primary-text);
    }

    &:not(:last-child) .divider {
      width: 2px;
      height: $font-size;
      background-color: var(--col-primary-text);
    }
  }
}
