@use '../../../../styles/_functions';
@use '../../../../styles/_mixins';

$font-size: functions.rem(16);

.language-container {
  display: flex;
  align-items: center;
  font-size: $font-size;
  color: var(--col-highlight);

  .language {
    display: flex;
    align-items: center;
    transition: all 0.25s ;

    .language-short {
      @include mixins.hover-underline();
    }

    &:not(:last-child) > span,
    &:not(:last-child) .divider {
      margin-right: 3px;
    }

    &.inactive {
      color: var(--col-inactive);
    }

    &:not(:last-child) .divider {
      width: 2px;
      height: $font-size;
      background-color: var(--col-primary-text);
    }
  }
}
