@use '../../../../styles/_functions';
@import '../../../../styles/_main';

:host {
  display: grid;
  place-items: center;
  aspect-ratio: 2.29 / 1;
}

svg {
  width: functions.scale-between(80, 120);
  color: var(--col-highlight);
}
