@import '../../../../styles/_main';

:host {
  --width: 75px;
  --ratio: 2.29;
  width: var(--width);
  height: calc(var(--width) / var(--ratio));
}

svg {
  width: 100%;
  height: 100%;
  color: var(--col-highlight);
}
