@use '../../../../styles/_variables';
@use '../../../../styles/_functions';

:host {
  background-color: inherit;
  color: var(--col-primary-text);;
}

section {
  padding-top: functions.scale-between(
      variables.$nav-height-min + variables.$padding-vertical-min,
      variables.$nav-height-max + variables.$padding-vertical-max
  );
  background-color: var(--col-primary);
  color: inherit;
}

app-footer {
  background-color: var(--col-secondary);
}
