<section>
  <div class="max-width">
    <h2 class="bold">{{ 'privacyPolicy.headline' | translate }}</h2>

    <h3 class="bold">{{ 'privacyPolicy.section1.title' | translate }}</h3>

    <h4 class="bold">{{ 'privacyPolicy.section1.generalInfo.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section1.generalInfo.text' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section1.responsible.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section1.responsible.text' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section1.dataCollection.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section1.dataCollection.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.section1.dataCollection.text2' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section1.dataUsage.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section1.dataUsage.text' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section1.dataRights.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section1.dataRights.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.section1.dataRights.text2' | translate }}</p>

    <h3 class="bold">{{ 'privacyPolicy.section2.title' | translate }}</h3>
    <p>{{ 'privacyPolicy.section2.hosting.text' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section2.hosting.provider.title' | translate }}</h4>
    <p>
      {{ 'privacyPolicy.section2.hosting.provider.text1' | translate }}
      <a href="{{ 'privacyPolicy.section2.hosting.provider.link' | translate }}" class="highlight" target="_blank">{{ 'privacyPolicy.section2.hosting.provider.linkText' | translate }}.</a>
    </p>
    <p>{{ 'privacyPolicy.section2.hosting.provider.text2' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section2.processing.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section2.processing.text' | translate }}</p>

    <h3 class="bold">{{ 'privacyPolicy.section3.title' | translate }}</h3>

    <h4 class="bold">{{ 'privacyPolicy.section3.general.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section3.general.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.section3.general.text2' | translate }}</p>
    <p>{{ 'privacyPolicy.section3.general.text3' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section3.responsibleContact.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section3.responsibleContact.text' | translate }}</p>
    <p>
      <span>{{ 'privacyPolicy.section3.responsibleContact.name' | translate }}</span><br>
      <span>{{ 'privacyPolicy.section3.responsibleContact.street' | translate }}</span><br>
      <span>{{ 'privacyPolicy.section3.responsibleContact.location' | translate }}</span>
    </p>
    <p>
      {{ 'privacyPolicy.section3.responsibleContact.email' | translate }}:
      <a href='mailto:veysel-karaali@outlook.de' class="highlight">veysel-karaali&#64;outlook.de</a>
    </p>
    <p>{{ 'privacyPolicy.section3.responsibleContact.text4' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section3.storageDuration.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section3.storageDuration.text' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section3.legalBasis.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section3.legalBasis.text' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section3.dataRecipients.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section3.dataRecipients.text' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section3.consentRevocation.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section3.consentRevocation.text' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section3.objectionRight.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section3.objectionRight.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.section3.objectionRight.text2' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section3.complaint.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section3.complaint.text' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section3.disagreement.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section3.disagreement.text' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section3.complaint_right.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section3.complaint_right.text' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section3.limitation.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section3.limitation.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.section3.limitation.text2' | translate }}</p>
    <p>{{ 'privacyPolicy.section3.limitation.text3' | translate }}</p>
    <p>{{ 'privacyPolicy.section3.limitation.text4' | translate }}</p>
    <p>{{ 'privacyPolicy.section3.limitation.text5' | translate }}</p>
    <p>{{ 'privacyPolicy.section3.limitation.text6' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section3.sslTlsEncryption.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section3.sslTlsEncryption.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.section3.sslTlsEncryption.text2' | translate }}</p>

    <h3 class="bold">{{ 'privacyPolicy.section4.title' | translate }}</h3>

    <h4 class="bold">{{ 'privacyPolicy.section4.cookies.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section4.cookies.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.section4.cookies.text2' | translate }}</p>
    <p>{{ 'privacyPolicy.section4.cookies.text3' | translate }}</p>
    <p>{{ 'privacyPolicy.section4.cookies.text4' | translate }}</p>
    <p>{{ 'privacyPolicy.section4.cookies.text5' | translate }}</p>
    <p>{{ 'privacyPolicy.section4.cookies.text6' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section4.contactForm.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section4.contactForm.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.section4.contactForm.text2' | translate }}</p>
    <p>{{ 'privacyPolicy.section4.contactForm.text3' | translate }}</p>

    <h4 class="bold">{{ 'privacyPolicy.section4.emailPhoneFax.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section4.emailPhoneFax.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.section4.emailPhoneFax.text2' | translate }}</p>
    <p>{{ 'privacyPolicy.section4.emailPhoneFax.text3' | translate }}</p>
    <h3 class="bold">{{ 'privacyPolicy.section5.title' | translate }}</h3>

    <h4 class="bold">{{ 'privacyPolicy.section5.googleFonts.title' | translate }}</h4>
    <p>{{ 'privacyPolicy.section5.googleFonts.text1' | translate }}</p>
    <p>{{ 'privacyPolicy.section5.googleFonts.text2' | translate }}</p>
    <p>{{ 'privacyPolicy.section5.googleFonts.text3' | translate }}</p>
    <p>
      {{ 'privacyPolicy.section5.googleFonts.text4' | translate }}
      <a href="{{ 'privacyPolicy.section5.googleFonts.link1' | translate }}" class="highlight" target="_blank">{{ 'privacyPolicy.section5.googleFonts.link1Text' | translate }}</a>
      {{ 'privacyPolicy.section5.googleFonts.text5' | translate }}
      <a href="{{ 'privacyPolicy.section5.googleFonts.link2' | translate }}" class="highlight" target="_blank">{{ 'privacyPolicy.section5.googleFonts.link2Text' | translate }}.</a>
    </p>
    <p>
      {{ 'privacyPolicy.section5.googleFonts.text6' | translate }}
      <a href="{{ 'privacyPolicy.section5.googleFonts.link3' | translate }}" class="highlight" target="_blank">{{ 'privacyPolicy.section5.googleFonts.link3Text' | translate }}</a>
    </p>
    <p>
      {{ 'privacyPolicy.section5.source.text' | translate }}
      <a href="{{ 'privacyPolicy.section5.source.link' | translate }}" class="highlight" target="_blank">{{ 'privacyPolicy.section5.source.linkText' | translate }}</a>
    </p>
  </div>
</section>
<app-footer></app-footer>
