@import '../../../../styles/_main';

.skill-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--col-accent);
  border-radius: 10px;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: var(--col-highlight);
  }
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

img {
  width: 75px;
  height: auto;
}

p {
  text-align: center;
  margin: 0;
}
