<section id="home">
  <div class="inner-home max-width">
    <div class="img-container">
      <img class="" src="assets/background/intro.jpg" alt="">
    </div>

    <div class="intro-container">
      <h1 class="highlight center">Veysel Karaali</h1>
      <h2 class="center">I'm a Fullstack Developer</h2>
      <div class="btn-container">
        <a class="btn">More about me</a>
        <a [href]="'#projects'" class="btn" target="_self">View my work</a>
      </div>
    </div>
  </div>
</section>
