@use '../../../../styles/_variables';
@use '../../../../styles/_functions';
@use '../../../../styles/_screen-sizes';

:host {
  display: inline-block;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: inherit;
}

section {
  display: flex;
  min-height: 100vh;
  height: auto;
  padding-top: functions.scale-between(variables.$nav-height-min + variables.$padding-vertical-min, variables.$nav-height-max + variables.$padding-vertical-max);
  align-content: center;
}

.home-container {
  display: inline-grid;
  grid-template-areas:
    "img"
    "text";
  background-color: inherit;
  text-align: center;
}

.text-container {
  grid-area: text;

  h1, h2 {
    margin-bottom: functions.scale-between(8, 16);
  }
}

p {
  margin-bottom: 0;
}

.img-container {
  $size: functions.scale-between(175, 350);
  grid-area: img;
  width: $size;
  height: $size;
  margin-bottom: functions.scale-between(20, 40);
  overflow: hidden;
  border-radius: 50%;
  justify-self: center;
  border: 2px solid var(--col-highlight);

  img {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
  }
}

@include screen-sizes.l-screen {
  .home-container {
    grid-template-areas:
    "text img";
    justify-content: space-between;
    text-align: start;
    align-items: center;
    column-gap: functions.scale-between(20, 30);
  }

  .img-container {
    align-self: center;
    margin-bottom: 0;
  }
}
