@use '../../../../styles/_variables';
@use '../../../../styles/_functions';
@use '../../../../styles/_screen-sizes';

:host {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

section {
  height: 100%;
  padding-top: functions.scale-between(variables.$nav-height-min + variables.$padding-vertical-min, variables.$nav-height-max + variables.$padding-vertical-max);
  align-content: center;
}

.grid-container {
  display: inline-grid;
  grid-template-areas:
    "img"
    "title-1"
    "title-2"
    "description";
  background-color: inherit;
  text-align: center;
}

h1.title-1 {
  grid-area: title-1;
}

h1.title-2 {
  grid-area: title-2;
}

p {
  grid-area: description;
  margin-bottom: 0;
}

.img-container {
  $size: functions.scale-between(175, 350);
  grid-area: img;
  width: $size;
  height: $size;
  margin-bottom: functions.scale-between(20, 40);
  overflow: hidden;
  border-radius: 50%;
  justify-self: center;
  border: 2px solid var(--col-highlight);

  img {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
  }
}

@include screen-sizes.l-screen {
  .grid-container {
    display: grid;
    grid-template-areas:
    "title-1 img"
    "title-2 img"
    "description img";
    text-align: start;
    column-gap: functions.scale-between(20, 40);
  }

  .img-container {
    align-self: center;
    margin-bottom: 0;
  }
}
