@import '../../../../../styles/_main';

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--col-accent);
  transition: all 0.25s;
  position: fixed;
  top: $nav-height;
  left: 100%;
  width: 100%;
  z-index: 100;

  a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 16px 0;
    transition: color 0.25s ease;

    &:hover {
      color: var(--col-highlight);
    }
  }
}

.nav-active {
  color: var(--col-primary-text)
}

.menu-list.active {
  left: 0;
}

@include large-screen {
  .menu-list {
    flex-direction: row;
    position: unset;
    column-gap: rem(20);
    background-color: unset;

    a {
      width: unset;
      padding: 0;
    }
  }
}
