@use '../../../../styles/_functions';

:host {
  // Just change the theme-switcher-width to control the size of the theme switcher
  --theme-switcher-width: #{functions.scale-between(50, 70)};
  --button-size: calc(var(--theme-switcher-width) / 2.357);
  --theme-switcher-height: calc(var(--button-size) + 5px);
  --icon-size: calc(var(--theme-switcher-width) / 2.75);
  --offset: calc(var(--icon-size) / 6);
  --transition-default: 0.3s ease-in-out;

  display: block;
  width: var(--theme-switcher-width);
}

div.theme-switcher {
  background-color: var(--col-settings);
  width: var(--theme-switcher-width);
  height: var(--theme-switcher-height);
  position: relative;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color var(--transition-default);

  & button {
    background-color: var(--col-icon-selected);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    position: absolute;
    left: 0;
    transition: transform var(--transition-default);
  }

  &.light button {
    left: var(--offset);
  }

  &.dark button {
    transform: translateX(calc(var(--theme-switcher-width) - var(--button-size) - var(--offset)));
  }

  &.light app-sun-icon {
    color: var(--col-icon-active);
  }

  &.dark app-moon-icon {
    color: var(--col-icon-active);
  }

  app-sun-icon,
  app-moon-icon {
    position: absolute;
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--col-icon-inactive);
  }

  app-sun-icon {
    left: calc((var(--button-size) - var(--icon-size)) / 2 + var(--offset));
  }

  app-moon-icon {
    right: calc((var(--button-size) - var(--icon-size)) / 2 + var(--offset));
  }
}



