@import '../../../../styles/_main';

// Change only icon-size to resize theme-switcher
$icon-size: 24px;
$offset: calc($icon-size / 6);
$button-size: calc($icon-size + $offset);
$theme-switcher-width: calc(2.75 * $icon-size);
$transition-default: 0.3s ease-in-out;

div.theme-switcher {
  background-color: pink;
  width: $theme-switcher-width;
  height: calc($button-size + 5px);
  position: relative;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color $transition-default;

  &.light {
    background-color: blue;
  }

  &.dark {
    background-color: green;
  }

  & button {
    background-color: orange;
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    position: absolute;
    left: 0;
    transition: transform $transition-default;
  }

  &.light button {
    left: $offset;
  }

  &.dark button {
    transform: translateX(calc($theme-switcher-width - $button-size - $offset ));
  }

  &.light app-sun-icon {
    color: brown;
  }

  &.dark app-moon-icon {
    color: yellow;
  }

  app-sun-icon,
  app-moon-icon {
    position: absolute;
    width: $icon-size;
    height: $icon-size;
  }

  app-sun-icon {
    left: calc(($button-size - $icon-size) / 2 + $offset);
  }

  app-moon-icon {
    right: calc(($button-size - $icon-size) / 2 + $offset);
  }
}


