<div class="toggle-container"
     [ngClass]="{
       'dark': currentTheme === Theme.DARK_THEME,
       'light': currentTheme === Theme.LIGHT_THEME
     }" (click)="onChangeTheme()">
  <button type="button" class="transition-colors sun-btn">
    <div
      class="icon"
      [ngClass]="{ 'light-icon': currentTheme === Theme.LIGHT_THEME}"
      [innerHTML]="svgIcons['light_mode']">
    </div>
  </button>

  <button type="button" class="transition-colors moon-btn">
    <div
      class="icon"
      [ngClass]="{ 'dark-icon': currentTheme === Theme.DARK_THEME}"
      [innerHTML]="svgIcons['dark_mode']">
    </div>
  </button>
</div>
