@use '../../../../styles/_variables';

section {
  background-color: inherit;
  color: inherit;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  grid-auto-flow: row;
  width: 100%;
  max-width: #{variables.$m-screen-max}px;
}

app-checkbox-privacy-policy {
  margin-bottom: 10px;
}

button {
  justify-self: flex-start;
  flex: 0 0 auto;
}

.disabled {
  background-color: var(--col-secondary);
  color: var(--col-disabled);
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
  border: 2px solid var(--col-disabled)
}
