<section id="contact">
  <div class="contact-container">
    <h1 class="center">{{ 'contact.title1' | translate }}</h1>
    <form [formGroup]="contactForm" autocomplete="off">
      <app-input [form]="contactForm" [id]="'name'" [type]="'text'" [label]="'contact.name' | translate"></app-input>
      <app-input [form]="contactForm" [id]="'email'" [type]="'email'" [label]="'contact.email' | translate"></app-input>
      <app-input [form]="contactForm" [id]="'subject'" [type]="'text'" [label]="'contact.subject' | translate"></app-input>
      <app-textarea [form]="contactForm" [id]="'message'"></app-textarea>
      <app-checkbox-privacy-policy [form]="contactForm" [id]="'isPrivacyPolicyAccepted'"></app-checkbox-privacy-policy>
      <button
        type="submit"
        class="btn"
        [ngClass]="{'disabled': !contactForm.valid}"
        [disabled]="!contactForm.valid"
        (click)="onSubmit()">
        {{ 'contact.submit_btn' | translate }}
      </button>
    </form>
  </div>
</section>
