@import '../../../../styles/_main';

section {
  background-color: var(--col-primary-bg);
  color: var(--col-primary-text);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-auto-flow: row;
}

app-input:nth-child(1),
app-input:nth-child(2) {
  grid-column: span 2;
}

app-textarea {
  grid-column: 1 / span 2;
}

app-checkbox-privacy-policy {
  grid-column: 1 / span 2;
}


button {
  grid-column: 1 / span 2;
  justify-self: start;
  flex: 0 0 auto;
}

.disabled {
  background-color: var(--col-secondary-bg);
  color: var(--col-disabled);
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
  border: 2px solid var(--col-disabled)
}

@include l-screen {
  app-input:nth-child(1),
  app-input:nth-child(2) {
    grid-column: span 1;
  }
}
