@import '../../../../styles/_main';

:host {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  z-index: 100;
  height: $nav-height;
}

nav {
  @include color-scheme(var(--col-primary-bg), var(--col-secondary-text));
  padding-top: rem(10);
  padding-bottom: rem(10);
  height: 100%;
  background-color: var(--col-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-bar {
  @include flex-basic(row, space-between, center);
}

.menu-desktop {
  display: none;
}

.menu-mobile {
  display: block;
}

@include small-screen {
  .nav-bar {
    column-gap: rem(20);
  }

  app-logo {
    margin-right: auto;
  }
}

@include large-screen {
  app-nav-mobile-icon {
    display: none;
  }

  .menu-desktop {
    display: block;
  }

  .menu-mobile {
    display: none;
  }

  app-logo {
    margin-right: 0;
  }

  app-theme-switcher {
    margin-left: auto;
  }
}
