<nav #menu>
  <div #navbar class="nav-bar">
    <app-logo [currentTheme]="currentTheme" [version]="'v1'" [width]="'50'"></app-logo>
    <app-menu-list class="menu-desktop"></app-menu-list>
    <app-theme-switcher [currentTheme]="currentTheme"></app-theme-switcher>
    <app-language-switcher></app-language-switcher>
    <app-nav-mobile-icon [isMobileMenuActive]="isMobileMenuActive" (click)="toggleMobileMenu()"></app-nav-mobile-icon>
  </div>

  <app-menu-list class="menu-mobile"
    [isMobileMenuActive]="isMobileMenuActive"
    [closeMobileMenu]="closeMobileMenu.bind(this)">
  </app-menu-list>
</nav>
