<nav>
  <div class="left-container">
    <app-logo [currentTheme]="currentTheme"></app-logo>
    <a (click)="scrollToSection('about-me')" [routerLink]="['/about-me']" [routerLinkActive]="['nav-active']">{{ 'aboutMe' | translate }}</a>
    <a (click)="scrollToSection('skills')" [routerLink]="['/skills']" [routerLinkActive]="['nav-active']">{{ 'skills' | translate }}</a>
    <a (click)="scrollToSection('projects')" [routerLink]="['/projects']" [routerLinkActive]="['nav-active']">{{ 'projects' | translate }}</a>
  </div>

  <div class="right-container">
    <app-theme-switcher [currentTheme]="currentTheme"></app-theme-switcher>
    <app-language-switcher></app-language-switcher>
  </div>
</nav>


