@import '../../../../styles/_main';

$border-bottom: 2px solid;

nav {
  @include flex-basic(row, space-between, center);
  @include color-scheme(var(--nav-bg-col), var(--nav-text-col));

  a {
    border-bottom: $border-bottom transparent;
  }

  .left-container a:hover {
    font-weight: 700;
  }

  .nav-active {
    border-bottom: $border-bottom var(--nav-text-col);
  }

  .left-container, .right-container {
    @include flex-with-gap(row, flex-start, center, 0 rem(30));
  }
}


