@import '../../../../styles/_main';

:host {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  z-index: 100;
  height: $nav-height;
}

nav {
  @include color-scheme(var(--col-primary-bg), var(--col-secondary-text));
  padding-top: rem(10);
  padding-bottom: rem(10);
  height: 100%;
  background-color: var(--col-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-bar {
  @include flex-basic(row, space-between, center);
}

.menu-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--col-accent);
  transition: all 0.25s;
  position: fixed;
  top: $nav-height;
  left: 100%;
  width: 100%;
  z-index: 100;

  a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 16px 0;
    transition: color 0.25s ease;

    &:hover {
      color: var(--col-highlight);
    }
  }
}

.nav-active {
  color: var(--col-primary-text)
}

.menu-item-list.active {
  left: 0;
}

@include small-screen {
  .nav-bar {
    column-gap: rem(20);
  }

  app-logo {
    margin-right: auto;
  }
}
