<section id="skills">
  <h1>My Skills</h1>

  <div class="skill-list">
    <!-- Programming Languages -->
    <app-skill imageName="type_script.svg" skillName="TypeScript"></app-skill>
    <app-skill imageName="java_script.svg" skillName="JavaScript"></app-skill>
    <app-skill imageName="python.svg" skillName="Python"></app-skill>

    <!-- Frontend Development -->
    <app-skill imageName="html.svg" skillName="HTML"></app-skill>
    <app-skill imageName="css.svg" skillName="CSS"></app-skill>
    <app-skill imageName="angular.svg" skillName="Angular"></app-skill>
    <!-- <app-skill imageName="vue.svg" skillName="Vue.js"></app-skill> -->
    <app-skill imageName="material_design.svg" skillName="Material Design"></app-skill>
    <app-skill imageName="rxjs.svg" skillName="RxJS"></app-skill>

    <!-- Backend Development -->
    <app-skill imageName="django.svg" skillName="Django"></app-skill>
    <!-- <app-skill imageName="flask.svg" skillName="Flask"></app-skill> -->
    <app-skill imageName="api.svg" skillName="API"></app-skill>

    <!-- Databases -->
    <app-skill imageName="sql.svg" skillName="SQL"></app-skill>
    <app-skill imageName="postgre_sql.svg" skillName="PostgreSQL"></app-skill>
    <app-skill imageName="redis.svg" skillName="Redis"></app-skill>

    <!-- DevOps & Cloud -->
    <!-- <app-skill imageName="docker.svg" skillName="Docker"></app-skill> -->
    <!-- <app-skill imageName="heroku.svg" skillName="Heroku"></app-skill> -->
    <!-- <app-skill imageName="cloud.svg" skillName="Cloud"></app-skill> -->
    <app-skill imageName="linux.svg" skillName="Linux"></app-skill>

    <!-- Project Management -->
    <app-skill imageName="scrum.svg" skillName="Scrum"></app-skill>

    <!-- Miscellaneous -->
    <app-skill imageName="git.svg" skillName="Git"></app-skill>
    <!-- <app-skill imageName="firebase.svg" skillName="Firebase"></app-skill> -->
    <!-- <app-skill imageName="wordpress.svg" skillName="WordPress"></app-skill> -->
    <!-- <app-skill imageName="grow.svg" skillName="Growth Mindset"></app-skill> -->
  </div>
</section>

