:host {
  position: relative;
  display: block;
  height: 100%;
  color: var(--col-primary-text);
}

:host > *:nth-child(odd) {
  background-color: var(--col-primary);
}

:host > *:nth-child(even) {
  background-color: var(--col-secondary);
}
