* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0 50px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.clickable {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo', sans-serif;
}
