:root {
  --primary-color: #5988FF;
  --secondary-color: #0043F0;
  --light-color: #FFFFFF;
  --dark-color: #000000;
  --warn-color: #E61C40;
  --success-color: #70E61C;
  --disabled-color: #888888;

  --text-color: #000;
  --bkg-color: #fff;
  --btn-txt-color: var(--primary-color);
  --btn-bg-color: #fff;
}

.dark-theme {
  --primary-color: #7AAFFF;
  --secondary-color: #4674D1;
  --light-color: #1E1E1E;
  --dark-color: #FFFFFF;
  --warn-color: #FF4F5E;
  --success-color: #8FFF7A;
  --disabled-color: #555555;

  --text-color: #fff;
  --bkg-color: #16161E;
  --btn-txt-color: var(--dark-color);
  --btn-bg-color: var(--light-color);;
}
