@import '../../../../../styles/_main';

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "project-image"
    "project";
  row-gap: calc(rem(40) + (60 - 40) * ((100vw - $xs-screen-max * rem(1)) / ($max-width - $xs-screen-max)));
  align-items: flex-end;

  .project-img {
    grid-area: project-image;
    justify-self: center;
    width: 100%;
  }
}

.project {
  grid-area: project;
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  flex-direction: column;
  row-gap: rem(15);
  width: 100%;
  text-align: center;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(10);
  }

  .icon-container {
    display: flex;
    align-items: center;
  }
}

@include m-screen {
  .btn-container {
    flex-direction: row;
    gap: 0 rem(15);
    width: auto;
    align-self: flex-start;
  }

  .project-img {
    max-width: rem(600);
  }
}

@include xl-screen {
  .project-container {
    grid-template-rows: auto;
    column-gap: calc(rem(40) + (50 - 40) * ((100vw - $xs-screen-max * rem(1)) / ($max-width - $xs-screen-max)));

    .project-img {
      align-self: flex-end;
    }
  }

  .project-container-image-left {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "project-image project";

    .project-img {
      justify-self: flex-start;
    }
  }

  .project-container-image-right {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "project project-image";

    .project-img {
      justify-self: flex-end;
    }
  }
}
