@use '../../../../../styles/_functions';
@use '../../../../../styles/_screen-sizes';

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "project-image"
    "project";
  row-gap: functions.scale-between(40, 60);
  align-items: flex-end;

  .project-img {
    grid-area: project-image;
    justify-self: center;
    width: 100%;
  }
}

.project {
  grid-area: project;
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  flex-direction: column;
  row-gap: functions.rem(15);
  width: 100%;
  text-align: center;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: functions.rem(10);
  }

  .icon-container {
    display: flex;
    align-items: center;
  }
}

@include screen-sizes.m-screen {
  .btn-container {
    flex-direction: row;
    gap: 0 functions.rem(15);
    width: auto;
    align-self: flex-start;
  }

  .project-img {
    max-width: functions.rem(600);
  }
}

@include screen-sizes.xl-screen {
  .project-container {
    grid-template-rows: auto;
    column-gap: functions.scale-between(40, 50);

    .project-img {
      align-self: flex-end;
    }
  }

  .project-container-image-left {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "project-image project";

    .project-img {
      justify-self: flex-start;
    }
  }

  .project-container-image-right {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "project project-image";

    .project-img {
      justify-self: flex-end;
    }
  }
}
