@use '../../../styles/_variables';
@use '../../../styles/_functions';
@use '../../../styles/_screen-sizes';
@use '../../../styles/_mixins';

nav {
  height: 100%;
  background-color: var(--col-nav-bg);
  color: var(--col-primary-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 10px var(--col-shadow);
}

.navbar {
  @include mixins.flex-basic(row, space-between, center);
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.menu-desktop {
  display: none;
}

.menu-mobile {
  top: functions.scale-between(variables.$nav-height-min, variables.$nav-height-max);
}

app-menu-list {
  position: fixed;
  right: -100%;
  width: 100%;
  transition: all 0.5s;
}

app-menu-list.active {
  right: 0;
}

@include screen-sizes.s-screen {
  .navbar {
    column-gap: functions.rem(20);
  }

  app-logo-v1 {
    margin-right: auto;
  }
}

@include screen-sizes.l-screen {
  app-nav-mobile-icon {
    display: none;
  }

  .menu-desktop {
    display: block;
  }

  .menu-mobile {
    display: none;
  }

  app-logo-v1 {
    margin-right: functions.rem(20);
  }

  app-menu-list {
    position: unset;
  }

  app-theme-switcher {
    margin-left: auto;
  }
}
