@use '../../../styles/_functions';
@use '../../../styles/_screen-sizes';
@use '../../../styles/_mixins';

nav {
  height: 100%;
  background-color: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  @include mixins.flex-basic(row, space-between, center);
  width: 100%;
  box-shadow: 0 4px 10px var(--col-shadow);
  border-radius: functions.rem(5);
  height: 100%;
  background-color: var(--col-accent);
}

app-logo-v1 {
  width: 100px;
}

.menu-desktop {
  display: none;
}

app-menu-list {
  position: fixed;
  right: -100%;
  width: 100%;
  transition: all 0.5s;
}

app-menu-list.active {
  right: 0;
}

@include screen-sizes.s-screen {
  .navbar {
    column-gap: functions.rem(20);
  }

  app-logo {
    margin-right: auto;
  }
}

@include screen-sizes.l-screen {
  app-nav-mobile-icon {
    display: none;
  }

  .menu-desktop {
    display: block;
  }

  .menu-mobile {
    display: none;
  }

  app-logo {
    margin-right: functions.rem(30);
  }

  app-menu-list {
    position: unset;
  }

  app-theme-switcher {
    margin-left: auto;
  }
}
