@import '../../../styles/_main';

nav {
  @include color-scheme(var(--col-primary-bg), var(--col-secondary-text));
  padding-top: rem(10);
  padding-bottom: rem(10);
  height: 100%;
  background-color: var(--col-accent);
  color: var(--col-primary-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 10px var(--col-shadow);
  border-radius: rem(5);
}

.navbar {
  @include flex-basic(row, space-between, center);
}

.menu-desktop {
  display: none;
}

app-menu-list {
  position: fixed;
  right: -100%;
  width: 100%;
  transition: all 0.5s;
}

app-menu-list.active {
  right: 0;
}

@include small-screen {
  .navbar {
    column-gap: rem(20);
  }

  app-logo {
    margin-right: auto;
  }
}

@include large-screen {
  app-nav-mobile-icon {
    display: none;
  }

  .menu-desktop {
    display: block;
  }

  .menu-mobile {
    display: none;
  }

  app-logo {
    margin-right: rem(30);
  }

  app-menu-list {
    position: unset;
  }

  app-theme-switcher {
    margin-left: auto;
  }
}
