@use '../../../../../styles/_functions';

.skill-container {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  background-color: var(--col-accent);
  border-radius: 10px;
  transition: background-color 0.25s ease;
  color: inherit;

  &:hover {
    background-color: var(--col-highlight);
  }
}

img {
  height: functions.scale-between(40, 60);
  width: auto;
}

.skill-name {
  font-size: functions.scale-between(14, 16)
}
