<div [formGroup]="form" class="floating-label">
  <input [formControl]="control" [type]="type" [id]="id" [name]="label" placeholder=""/>
  <label [for]="id">{{ label }}</label>

  <span class="validation-error">
    @if(control?.touched && control?.invalid) {
      @switch (true) {
        @case (control?.hasError('required'))
          { {{ 'contact.required' | translate }} }
        @case (control?.hasError('email'))
          { {{ 'contact.email_valid' | translate }} }
      }
    }
  </span>
</div>
