@use '../../../../styles/_functions';

.floating-label {
  position: relative;
}

.floating-label input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--col-highlight);
  border-radius: 5px;
  font-size: functions.rem(16);
  background-color: var(--col-primary);
  color: var(--col-primary-text);
  transition: border-color 0.25s, box-shadow 0.25s;
}

.floating-label label {
  position: absolute;
  top: functions.rem(10);
  left: 12px;
  color: var(--col-inactive);
  font-size: functions.rem(16);
  pointer-events: none;
  transition: all 0.25s ease;
  background-color: var(--col-primary);
  padding: 0 5px;
}

.floating-label input:focus {
  border-color: var(--col-highlight);
  box-shadow: 0 0 5px var(--col-highlight);
  outline: none;
}

.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
  top: -0.5rem;
  left: 10px;
  font-size: functions.rem(12);
  color: var(--col-highlight);
  z-index: 10;
}

.floating-label input:-webkit-autofill {
  background-color: var(--col-primary) !important;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 1000px var(--col-primary) inset !important;
  box-shadow: 0 0 0 1000px var(--col-primary) inset !important;
  transition: background-color 5000s ease-in-out 0s;
}
