@import '../../../../styles/_main';

.snackbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: rem(55);
  visibility: visible;
  width: max-content;
  min-width: 250px;
  max-width: calc(100% - 20px);
  background-color: var(--col-success);
  color: var(--col-tertiary);
  border-radius: rem(15);
  padding: rem(15);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: rem(30);
  font-size: rem(16);
  z-index: 1000;
}

.snackbar button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.error {
  background-color: var(--col-warn);
}
