<div class="project-container" [class.reverse]="!isImageFirst">
  <div class="left-container">
    <img [src]="'./assets/projects/' + hrefProjectImage" alt="">
  </div>

  <div class="right-container">
    <h2>{{ title }}</h2>
    <p>{{ technologies.join(' | ') }}</p>
    <p>{{description}}</p>
    <div class="btn-container">
      <app-basic-btn href="{{hrefLiveTest}}">Live Test</app-basic-btn>
      <app-basic-btn hrefIcon="github.svg" href="{{hrefFrontend}}">Frontend</app-basic-btn>
      <app-basic-btn hrefIcon="github.svg" href="{{hrefBackend}}">Backend</app-basic-btn>
    </div>
  </div>
</div>







